@import url('https://fonts.googleapis.com/css2?family=Nova+Flat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;500&display=swap');


* {
    box-sizing: border-box;
    margin: 0px ;
  }

body{
    
    font-family: 'Source Code Pro', monospace;
    background-repeat: no-repeat;
    background-size: cover; 
    background-color: #1A1A1A;
    color: #575756;
    
}
.index{
    background-image: url("../img/fondo2.png");
}
.sobremi{
    background-image: url("../img/fondo-s.png");
}

.back:before {
    content: "\00BB \0020";
}

header {

    padding-top: 20px;
    text-align: center;
    /* background-color: #1a1a1a; */
    height: 30%;
    
    
    /* padding-bottom: 10px; */
}

a, a h1{
    margin-top: 0px;
    text-decoration: none;
    /* letter-spacing: 3px; */
    color: #575756;
    font-family: 'Nova Flat';
    font-weight: normal;
    font-size: 35px;
}

h1:hover{
    color: #00ffff;
}

h2{
    font-weight: normal;
    font-size: 20px;
    color: #575756;
    /* background-color: #1A1A1A; */
}

.profile{
    height: 150px;
    width: auto;
    margin: 20px 0 20px 0 ;
}

h3{
    font-family: 'Nova Flat';
    color: #575756;
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 20px;
}

.card:hover{
    color: #00ffff;
}


main {
    width: 100%;
    height: 300px;
    display: flex;
    margin-top: 10px;
    margin-bottom: 200px;
    
}

.sobremi main{
    margin-bottom: 0px;
}

main .colu {
    padding: 30px 50px 70px 50px;
    -ms-flex: 1;  /* IE 10 */  
    flex: 1; 
    
    
}

main .colu:hover h3{
    color: #00ffff;
}


main .pilar{
    padding: 30px 90px 30px 90px;
    -ms-flex: 1;  /* IE 10 */  
    flex: 1;
    text-align: justify;
}

main .pilar:hover h3{
    color: #00ffff;
}



ul{
    height: 110px;
}

li {
    list-style: square;
}

li:hover {
        color:#00ffff;
}

.study {
    color: #575756;
}
  


.card {
    vertical-align: middle;
    text-align: left;
    justify-content: left;
}

.img-bottom {
    display: inline;
    width: 50px;
}
.card .img-top {
    display: none;
    width: 60px;
}

.card:hover .img-top {
    display: inline;
}
.card:hover .img-bottom {
    display: none;
}


  
  /* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 33.33%;
    padding: 10px;
    height: auto; /* Should be removed. Only for demonstration */
    text-align: left;
    background-color: #1a1a1a;
  }
  
  /* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
    height: auto;
    margin-bottom: 20px;
  }

.card p{
    text-align: left;
}



footer{
    
    text-align: center;
    background-color:#1a1a1a;
    height: 40px;
    display: block;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: #00ffff 2px solid;
    padding-bottom: 10px;
    
    
}

footer p {
    color: #575756 ;
    
    font-size: 20px;
}